<launch>
    <!-- Serial reader node -->
    <node pkg="uwb_utils" name="serial_arduino" type="serial_arduino" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
    </node>
    <!-- VRPN -->
    <node name="mocap_client" pkg="vrpn_client_ros" type="vrpn_client_node" output="screen">
        <rosparam subst_value="true">
            server: tcp://10.43.0.130
            port: 3883
            update_frequency: 100.0
            frame_id: mocap
            use_server_time: false
            broadcast_tf: true
            trackers:
            - nimble
        </rosparam>
    </node>
</launch>
